{% extends 'base.html.twig' %}

{% block title %}
recette ~ {{ recipe.Title }}
{% endblock %}

{% block body %}
<h1>{{ recipe.title}}</h1>
{# Yop #}
{{ recipe.content | nl2br }}
{# {{ slug | upper }}  #}
{# {{ person.lastname }}  #}
{# {{ test | raw}} #}
{% endblock %}